<h1>welcome to <i class="fa-solid fa-book"></i>Bookers !!</h1>

<p>
  <span>in <i class="fa-solid fa-book"></i>Bookers,</span><br>
  <span>you can share and exchange your opinions , inpressions , and emotions</span><br>
  <span>about various books!</span>
</p>

<%= link_to "Log in", new_user_session_path, class: "btn btn-mycolor" %>
<%= link_to "Sign up", new_user_registration_path, class: "btn btn-success" %>
